body, a {
    color: #3B4C56;
    font-size: 14px;
    text-decoration: none;
}
#pgtitle
{
	margin: 0px 0px 20px;
	font-size: 18pt;
	text-align: center;
}
a{
	cursor:pointer;
}
.tree {
    padding: 25px;
}
.tree ul {
    list-style: none outside none;
}
.tree li a {
    line-height: 13px;
}
.tree > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
.parent {
    padding: 10px 0 10px 0 !important;
}
.tree li.parent > a {
    padding: 0 0 0 15px;
}
.tree li.parent > a:before {
    /*background-image: url("../images/plus_minus_icons.png");*/
    /*background-position: 25px center;*/
    font-family: Fontawesome;
     content: "ï„…"; 
    display: block;
    height: 21px;
    left: 0;
    position: absolute; 
    top: 0;
    vertical-align: middle;
    width: 23px;
}
.tree ul li.active > a:before {
    background-position: 0 center;
}
.tree ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree ul li ul li {
    position: relative;
    margin: 10px;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}
#wrapper {
    margin: 0 auto;
    width: 300px;
}
.slds-tree-container {
    overflow-y:auto !important;
}